<?
	$header = array_keys($this->progress->header);
	$bests = array();
	$means = array();

	foreach ($header as $h)
	{
		$best = $this->progress->best[$h];
		$mean = $this->progress->mean[$h];

		$bestdata = array();
		$meandata = array();

		$num = count($best);

		for ($i = 0; $i < $num; $i++)
		{
			$bestdata[] = '[' . $i . ', ' . $best[$i] . ']';
			$meandata[] = '[' . $i . ', ' . $mean[$i] . ']';
		}

		$bests[] = "[\n\t\t\t" . implode(",\n\t\t\t", $bestdata) . "\n\t\t]";
		$means[] = "[\n\t\t\t" . implode(",\n\t\t\t", $meandata) . "\n\t\t]";
	}
?>

{
	"header": ["<?= implode('", "', $header) ?>"],
	"best":
	[
		<?= implode(",\n\t\t", $bests) ?>

	],
	"mean":
	[
		<?= implode(",\n\t\t", $means) ?>

	]
}
