<div style='float: right;'><a href='history.php'>Show History</a> <input type='button' value='Refresh' onclick='do_refresh();'/></div>
<h1>Status</h1>
<? if ($this->jobs) { ?>
<table class='status'>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>User</th>
			<th>Started</th>
			<th>Progress</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<colgroup>
		<col>
		<col>
		<col>
		<col>
		<col width='150px'>
		<col width='20px'>
		<col>
	</colgroup>
	<? foreach ($this->jobs as $job) { ?>
	<tr class='header'>
		<td colspan='7'></td>
	</tr>
	<tr class='short_description' onclick='toggle_description(<?= $job->id ?>)'>
		<td class='left'></td>
		<td class='name'><?= $job->name ?></td>
		<td class='user'><?= $job->user ?></td>
		<td class='started'><?= english_date($job->started) ?></td>
		<td class='progress'>
			<div class='progress'>
				<img class='progress' src='images/progress.png' height='20px' width='<?= intval($job->progress * 100) ?>%'/>
			</div>
		</td>
		<td class='progress_num'>
			<?= number_format($job->progress * 100, 2) ?>&nbsp;%
		</td>
		<td class='right'></td>
	</tr>
	<tr class='long_description long_description_<?= $job->id ?>'>
		<td class='left'></td>
		<td class='title'>Priority:</td>
		<td colspan='4'><?= $job->priority ?></td>
		<td class='right'></td>
	</tr>
	<tr class='long_description long_description_<?= $job->id ?>'>
		<td class='left'></td>
		<td class='title'>Tasks:</td>
		<td colspan='4'><span class='taskssuccess'><?= $job->taskssuccess ?></span>/<span class='tasksfailed'><?= $job->tasksfailed ?></span></td>
		<td class='right'></td>
	</tr>
	<tr class='long_description long_description_<?= $job->id ?>'>
		<td class='left'></td>
		<td class='title'>Runtime:</td>
		<td colspan='4'><?= number_format($job->runtime, 2) ?> seconds</td>
		<td class='right'></td>
	</tr>
	<tr class='long_description long_description_<?= $job->id ?>'>
		<td class='left'></td>
		<td class='title'>Duration:</td>
		<td colspan='4'><?= english_duration($job->lastupdate - $job->started) ?></td>
		<td class='right'></td>
	</tr>
	<? } ?>
</table>
<script type='text/javascript'>
	var toggled_on = {};

	function toggle_description(id)
	{
		var ret = $$('tr.long_description_' + id);

		$A(ret).each(function (item) {
			if (item.style.display != 'table-row')
			{
				item.style.display = 'table-row';
				toggled_on[id] = true;
			}
			else
			{
				item.style.display = '';
				toggled_on[id] = false;
			}
		});
	}

	<? foreach ($this->jobs as $job)
	{
		if ($job->toggled) { ?>
			toggle_description(<?= $job->id ?>);
	<?	}
	} ?>

	function do_refresh()
	{
		var t = '';

		$H(toggled_on).each(function (a) {
			if (a[1])
			{
				if (t != '')
				{
					t += ',';
				}

				t += a[0];
			}

			document.location = 'index.php?toggled=' + encodeURIComponent(t);
		});
	}
</script>
<? } else { ?>
<p>There are no jobs running at the moment.</p>
<? } ?>
