<div id="subheader">
	<div style='float: right;'><a href='history.php'>Show History</a> <input type='button' value='Refresh' onclick='do_refresh();'/></div>
</div>

<h1>Status</h1>
<? if ($this->jobs) { ?>
<table class='status'>
	<thead>
		<tr>
			<th>Name</th>
			<th>User</th>
			<th>Started</th>
			<th>Progress</th>
			<th></th>
		</tr>
	</thead>
	<? foreach ($this->jobs as $job) { ?>
	<tr class='short_description' onclick='toggle_description(<?= $job->id ?>)'>
		<td class='name left'><?= $job->name ?></td>
		<td class='user'><?= $job->user ?></td>
		<td class='started'><?= english_date($job->started) ?></td>
		<td class='progress'>
			<div class='progress'>
				<img class='progress' src='images/progress.png' height='20px' width='<?= intval($job->progress * 100) ?>%'/>
			</div>
		</td>
		<td class='progress_num right'>
			<?= number_format($job->progress * 100, 2) ?>&nbsp;%
		</td>
	</tr>
	<tr class='long_description long_description_<?= $job->id ?>'>
		<td class='title'>Priority:</td>
		<td colspan='1'><?= $job->priority ?></td>
		<td colspan='3' rowspan='4'>
			<div class='progress_legend' id='progress_legend_<?= $job->id ?>'>
			</div>
			<div class='progress_plot' id='progress_<?= $job->id ?>'>
			</div>
		</td>
	</tr>
	<tr class='long_description long_description_<?= $job->id ?>'>
		<td class='title'>Tasks:</td>
		<td><span class='taskssuccess'><?= $job->taskssuccess ?></span>/<span class='tasksfailed'><?= $job->tasksfailed ?></span></td>
	</tr>
	<tr class='long_description long_description_<?= $job->id ?>'>
		<td class='title'>Runtime:</td>
		<td><?= number_format($job->runtime, 2) ?> seconds</td>
	</tr>
	<tr class='long_description long_description_<?= $job->id ?> last'>
		<td class='title'>Duration:</td>
		<td><?= english_duration($job->lastupdate - $job->started) ?></td>
	</tr>
	<tr class='long_description long_description_<?= $job->id ?> spacing'>
		<td colspan='5'></td>
	</tr>
	<? } ?>
</table>
<script type='text/javascript'>
	var toggled_on = {};
	var plots = {};

	function toggle_description(id)
	{
		var ret = $('tr.long_description_' + id);

		ret.each(function (idx, item) {
			if (item.style.display != 'table-row')
			{
				item.style.display = 'table-row';
				toggled_on[id] = true;
			}
			else
			{
				item.style.display = '';
				toggled_on[id] = false;
			}
		});

		if (toggled_on[id])
		{
			refresh_progress(id);
		}
	}

	<? foreach ($this->jobs as $job)
	{
		if ($job->toggled) { ?>
			toggle_description(<?= $job->id ?>);
	<?	}
	} ?>

	function do_refresh()
	{
		var t = '';

		$.each(toggled_on, function (key, value) {
			if (value)
			{
				if (t != '')
				{
					t += ',';
				}

				t += key;
			}

			document.location = 'index.php?toggled=' + encodeURIComponent(t);
		});
	}

	var previousPoint = null;

	function showTooltip(x, y, s)
	{
		$('<div id="tooltip">' + s + '</div>').css( {
			position: 'absolute',
			top: y + 5,
			left: x + 5,
			border: '1px solid #f0cd79',
			padding: '2px',
			'background-color': '#fffde6',
			opacity: 0.80
		}).appendTo("body");
	}

	function make_tooltip(event, pos, item) {
		if (item)
		{
			if (previousPoint != item.datapoint)
			{
				previousPoint = item.datapoint;
				$("#tooltip").remove();

				showTooltip(item.pageX, item.pageY, item.series.label + " at " + item.datapoint[0] + ": " + item.datapoint[1]);
			}
		}
		else
		{
			$("#tooltip").remove();
			previousPoint = null;
		}
	}

	function redraw_progress(id, data)
	{
		var plotdata = [];

		for (var i = 0; i < data.header.length; ++i)
		{
			plotdata.push({
				data: data.best[i],
				label: 'Max(' + data.header[i] + ')',
				lines: {show: true},
				shadowSize: 1,
				visible: true,
			});
		}

		for (var i = 0; i < data.header.length; ++i)
		{
			plotdata.push({
				data: data.mean[i],
				label: 'Avg(' + data.header[i] + ')',
				lines: {show: true},
				shadowSize: 1,
				visible: false,
			});
		}

		var container = $("#progress_" + id);

		plots[id] = $.plot(container, plotdata, {
			grid: {hoverable: true, clickable: true},
			legend: {position: 'se', container: $("#progress_legend_" + id)},
		});

		container.bind('plothover', make_tooltip);
	}

	function refresh_progress(id)
	{
		jQuery.getJSON('progress.php',
			{'id': id},

			function (data) {
				redraw_progress(id, data);
			}
		);
	}
</script>
<? } else { ?>
<p>There are no jobs running at the moment.</p>
<? } ?>
