body {
	background-color: #fff;
	padding: 0;
	margin: 0;
}

div#main {
	margin: 0 auto;
	font-family: "sans serif";
}

div#header {
	background-color: #717171;
	height: 100px;
	color: #fff;
	font-family: "ubuntu", "sans serif";
	padding: 10px;
}

div#header div.title {
	font-size: 2.5em;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 10px;
}

img#logo {
	position: absolute;
	top: 10px;
	right: 10px;
}

div#subheader {
	background-color: #333;
	height: 30px;
	border-top: 1px solid #aaa;
	border-bottom: 2px solid #333;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -5px;
	color: #fff;
	padding-top: 5px;
	padding-right: 5px;
}

div#content {
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	min-height: 300px;
	color: #555;
	background-color: #eee;
}

div#footer {
	background-color: #333;
	height: 5px;
}

div#content a {
	color: #66a;
	text-decoration: underline;
}

div#subheader a {
	color: #fff;
	text-decoration: underline;
}

div#content a:hover {
	color: #333;
	text-decoration: none;
}

div#subheader a:hover {
	color: #ddd;
	text-decoration: none;
}

table.status {
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;
}

table.status tr.header td {
	height: 3px;
	padding: 0;
}

table.status tr.short_description {
	cursor: pointer;
	border: 1px solid #333;
}

table.status tr.short_description td {
	background-color: #fff;
	height: 24px;
}

table.status tr.short_description td, table.status tr.long_description td {
	font-size: 0.8em;
}

table.status tr.long_description td {
	background-color: #fafafa;
	vertical-align: top;
}

table.status tr.spacing td {
	background-color: inherit;
}

table.status td.name {
	width: 200px;
}

table.status td.started {
	width: 150px;
}

table.status td.user {
	width: 150px;
}

table.status td.progress {
}

table.status td.progress_num {
	width: 20px;
}

table.status tr.long_description {
	display: none;
	color: #333;
	border: 1px solid #666;
	border-top: 0;
	border-bottom: 0;
}

table.status tr.spacing {
	border: 0;
	height: 15px;
}

table.status tr.last {
	border-bottom: 1px solid #666;
}

table.status td, table.status th {
	padding: 3px 15px 3px 5px;
}

table.status th {
	text-align: left;
}

table.status div.progress {
	border: 1px solid #bbb;
	height: 20px;
	position: relative;
	width: 100%;
}

table.status div.progress img.progress {
}

table.status td.title {
	font-weight: bold;
	color: #333;
}

table.status span.taskssuccess {
	font-weight: bold;
	color: #007700;
}

table.status span.tasksfailed {
	font-weight: bold;
	color: #ba0004;
}

div.plot {
	width: 810px;
	margin: 0 auto;
}

div.plot canvas {
	background-color: #333;
	border: 2px solid #aaa;
	padding: 5px;
	margin: 0 auto;
}

div.progress_plot {
	background-color: #fff;
	height: 300px;
	border: 1px solid #aaa;
	margin: 5px;
	margin-right: 150px;
}

div.progress_legend {
	float: right;
	background-color: #fff;
	border: 1px solid #aaa;
	margin: 5px;
	height: 300px;
}

table.status tr.long_description td.legendLabel, table.status tr.long_description td.legendColorBox {
	background-color: inherit;
}
