body {
	background-color: #eee;
	padding: 0;
	margin: 0;
}

div#main {
	margin: 0 auto;
	font-family: ubuntu, sans-serif;
}

div#header {
	background-color: #333;
	height: 100px;
	color: #fff;
	font-family: ubuntu, sans-serif;
	padding: 10px;
	border-bottom: 2px solid #000;
}

div#header div.title {
	font-size: 2.5em;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 10px;
}

img#logo {
	position: absolute;
	top: 10px;
	right: 10px;
}

div#subheader {
	float: right;
}

div#content {
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	min-height: 300px;
	color: #333;
	background-color: #eee;
}

div#footer {
}

div#content a {
	color: #66a;
	text-decoration: underline;
}

div#content a:hover {
	color: #333;
	text-decoration: none;
}

table.status {
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;
}

table.status td {
	background-color: #fff;
}

table.status tr.short_description {
	cursor: pointer;

}

table.status th {
	border-bottom: 1px solid #333;
}

table.status {
	border-bottom: 1px solid #333;
}

table.status tr.short_description td {
	height: 24px;
}

table.status {
	font-size: 0.8em;
}

table.status tr.long_description > td {
	vertical-align: middle;
}

table.status tr.long_description td.long_description table {
	margin: 0 auto;
}

table.status td.name {
	width: 200px;
}

table.status td.started {
	width: 150px;
}

table.status td.user {
	width: 150px;
}

table.status td.progress {
}

table.status td.progress_num {
	width: 20px;
}

table.status tr.long_description {
	display: none;
	color: #333;
}

table.status tr.separator {
	height: 1px;
}

table.status tr.separator td {
	padding-left: 5px;
	padding-right: 5px;
}

table.status tr.separator td div {
	border-top: 1px solid #ddd;
	height: 1px;
}

table.status tr.spacing {
	height: 10px;
}

table.status tr.last {
}

table.status td, table.status th {
	padding: 3px 15px 3px 5px;
}

table.status th {
	text-align: left;
}

table.status div.progress {
	border: 1px solid #6b6b6b;
	height: 20px;

}

table.status tr.long_description td.left
{
}

table.status td.left {
	border-left: 1px solid #333;
}

table.status td.right {
	border-right: 1px solid #333;
}

table.status div.progress img.progress {
}

table.status td.title {
	font-weight: bold;
	color: #333;
}

table.status span.taskssuccess {
	font-weight: bold;
	color: #007700;
}

table.status td.indent {
	padding-left: 30px;
}

table.status span.tasksfailed {
	font-weight: bold;
	color: #ba0004;
}

div.plot {
	margin: 0 auto;
}

div.plot canvas {
	background-color: #333;
	border: 2px solid #aaa;
	padding: 5px;
	margin: 0 auto;
}

div.outerplot {
	position: relative;
}

table.plot {
	margin: 0 0;
	border: 1px solid black;
	width: 100%;
}

table.plot td.plot {
	width: 100%;
}

div.progress_plot {
	background-color: #fff;
	height: 400px;
}

div.progress_legend {
	background-color: #fff;
	overflow: auto;
	height: 400px;
}

table.status tr.long_description td.legendLabel, table.status tr.long_description td.legendColorBox {
	background-color: inherit;
}

table.plot tr td {
	vertical-align: top;
}
